*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Guides {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.FixedCircle,
.DrawingCircle {
  position: absolute;
  border: 1px solid gray;
  border-radius: 100%;
}
.FixedCircle {
  box-sizing: content-box;
}
